extends ../layout

block content
  div.content
    div.content-centered
      if error
        p.error= error

      mixin form
        input(type='hidden' name='game_id' value=game.id)

        table
          tr
            td
              label(for='region') Region <span class='subdued'>(e.g. JP, EN, FR, etc.)</span>
              input#region(
                type='text'
                name='region'
                placeholder='JP'
                value=form.region
                maxlength='2'
                autocomplete='off' )

          tr
            td
              label(for='type') Type <span class='subdued'>(e.g. Fan Translation)</span>
              input#type(
                type='text'
                name='type'
                value=form.type
                maxlength='50'
                autocomplete='off' )

          tr
            td
              label(for='title') Title <span class='subdued'>(language of release)</span>
              input#title(
                type='text'
                name='title'
                value=form.title
                placeholder='ゆめにっき'
                maxlength='200'
                autocomplete='off' )

          tr
            td
              label(for='title_romaji') Romaji Title <span class='subdued'>(if applicable)</span>
              input#title_romaji(
                type='text'
                name='title_romaji'
                placeholder='Yume Nikki'
                value=form.title_romaji
                maxlength='200'
                autocomplete='off' )

          tr
            td
              label(for='version') Version <span class='subdued'>(e.g. 1.00, or 'Steam Release')</span>
              input#version(
                type='text'
                name='version'
                placeholder='0.10'
                value=form.version
                maxlength='20'
                autocomplete='off' )

          tr
            td
              label(for='release_date') Release Date <span class='subdued'>(YYYY.MM.DD)</span>
              input#release_date(
                type='text'
                name='release_date'
                placeholder='2000.01.01'
                value=form.release_date
                maxlength='20'
                autocomplete='off' )

          tr
            td
              label(for='notes') Notes
              textarea#notes(name='notes' maxlength='1000')=form.notes

          tr
            td
              label(for='info_link') External Info Link
              input#info_link(
                type='text'
                name='info_link'
                value=form.info_link
                maxlength='200'
                autocomplete='off' )

          tr
            td
              hr

          tr
            td
              label(for='file') Download for this release
              input#file(type='file' name='file')

          tr
            td
              center
                if form.id
                  hr

                  label(for='revision_message') Revision Message
                  textarea#revision_message(name='revision_message' maxlength=200)

                  input(type='submit' value='Save Changes')

                else
                  input(type='submit' value='Add Release')

      if form.id
        p.message Editing release for #{game.title}

        form(action='/releases/edit/'+form.id.toString() method='post' enctype='multipart/form-data')
          input(type='hidden' name='id' value=form.id)
          +form

      else
        p.message Creating release for #{game.title}

        form(action='/releases/new/'+game.id.toString() method='post' enctype='multipart/form-data')
          +form
