extends layout

block content
  script.
    const rainbow_full = [
      'rgb(253,163,180)',
      'rgb(253,195,163)',
      'rgb(253,242,163)',
      'rgb(204,253,163)',
      'rgb(163,253,170)',
      'rgb(163,253,217)',
      'rgb(163,253,249)',
      'rgb(163,221,253)',
      'rgb(163,170,253)',
      'rgb(212,163,253)' ];

    $(document).ready(function() {
      // Set the text colour of all rating values to a rainbow colour
      $('.rating').each(function(i, obj) {
        $(this).css('color', rainbow_full[Math.round($(this).text()) - 1]);
      });
    });


  div.content
    table.list
      tr.header
        td <p>Title <span class='small subdued highlight-bg'># Releases</span></p>
        td <p>Aliases</p>
        td <p>Rating <span class='subdued'>(Bayesian)</span></p>
        td <p>Average Rating</p>
        td <p># Ratings</p>

      each g in games
        tr.item(onclick='window.location.href="/games/' + g.id + '";')
          td
            p
              | <a href='/games/#{g.id}'>#{g.title}
              if g.title_romaji
                | &nbsp;<span class='subdued'>(#{g.title_romaji})</span>
              if g.n_releases > 0
                | &nbsp;<span class='small subdued highlight-bg'>#{g.n_releases}</span>
              | </a>

          td
            p <span class='subdued'>#{g.aliases}</span>

          td
            p.rating= g.rating_bayesian

          td
            if g.rating_average
              p.rating= parseFloat(g.rating_average.toFixed(2))

          td
            p= g.n_ratings
