extends ../layout

block content
  div.content
    div.content-centered
      if error
        p.error= error
      if message
        p.message= message

      form(action='/login' method='post')
        table
          tr
            td
              label(for='username') Username
              input#username(
                type='text'
                name='username'
                value=form.username
                maxlength='20'
                autocomplete='off' )

          tr
            td
              label(for='password') Password
              input#password(
                type='password'
                name='password'
                value=form.password
                maxlength='1000' )

          tr
            td
              center
                input(type='submit' value='Login')
