extends ../layout

block content
  div.content
    div.game-info
      h2
        | #{game.title}
        if game.title_romaji
          | &nbsp;<span class='subdued'>(#{game.title_romaji})</span>

      pre= game.description

  h2.content-title Releases
  div.content
    p <a href='/releases/new/#{game.id}'>New release</a>

    table.list
      tr.header
        td <p>Region</p>
        td <p>Title</p>
        td <p>Version</p>
        td <p>Release Date</p>
        td

      each r in game.releases
        tr
          td <p>#{r.region}</p>

          td
            p
              | <a href='/releases/#{r.id}'>#{r.title}
              if r.title_romaji
                | &nbsp;<span class='subdued'>(#{r.title_romaji})</span>
              | </a>

          td <p>#{r.version}</p>

          td
            if r.release_date
              p= r.release_date
            else
              p.subdued Unknown

          td
            p <a class='special' href='/releases/edit/#{r.id}'>Edit</a>

  p.subdued
    | Entry created #{game.created} |
    | <a href='/games/edit/#{game.id}'>Edit this page</a>
