extends ../layout

block content
  div.content
    div.content-centered
      if error
        p.error= error

      mixin form
        table
          tr
            td
              label(for='title') Title <span class='subdued'>(original language)</span>
              input#title(
                type='text'
                name='title'
                value=form.title
                placeholder='ゆめにっき'
                maxlength='200'
                autocomplete='off' )

          tr
            td
              label(for='title_romaji') Romaji Title <span class='subdued'>(if applicable)</span>
              input#title_romaji(
                type='text'
                name='title_romaji'
                placeholder='Yume Nikki'
                value=form.title_romaji
                maxlength='200'
                autocomplete='off' )

          tr
            td
              label(for='aliases') Aliases <span class='subdued'>(comma-separated)</span>
              input#aliases(
                type='text'
                name='aliases'
                value=form.aliases
                maxlength='500'
                autocomplete='off' )

          tr
            td
              label(for='description') Game Description
              textarea#description(name='description' maxlength='5000')=form.description

          tr
            td
              hr

          tr
            td
              label(for='creator') Creator
              input#creator(
                type='text'
                name='creator'
                value=form.creator
                maxlength='50'
                autocomplete='off' )

          tr
            td
              hr

          tr
            td
              label(for='screenshots') Screenshots <span class='subdued'>(one URL per line)</span>
              textarea#screenshots(name='screenshots' maxlength='5000')=form.screenshots

          tr
            td
              label(for='links') Links <span class='subdued'>(one link per line, format is URL::Title)</span>
              textarea#links(name='links' maxlength='5000')=form.links

          tr
            td
              center
                if form.id
                  hr

                  label(for='revision_message') Revision Message
                  textarea#revision_message(name='revision_message' maxlength=200)

                  input(type='submit' value='Save Changes')

                else
                  input(type='submit' value='Add Game')

      if form.id
        p.message Editing #{form.title}

        form(action='/games/edit/'+form.id.toString() method='post')
          input(type='hidden' name='id' value=form.id)
          +form

      else
        form(action='/games/new' method='post')
          +form
