extends ../layout

block content
  div.content
    div.content-centered
      form(action='/games/new' method='post')
        table
          tr
            td
              label(for='title') Title <span class='subdued'>(original language)</span>
              input#title(
                type='text'
                name='title'
                value=form.title
                placeholder='ゆめにっき'
                maxlength='200'
                autocomplete='off' )

          tr
            td
              label(for='title_romaji') Romaji Title <span class='subdued'>(if applicable)</span>
              input#title_romaji(
                type='text'
                name='title_romaji'
                placeholder='Yume Nikki'
                value=form.title_romaji
                maxlength='200' )

          tr
            td
              center
                input(type='submit' value='Add Game')
